// ===========
//  NPCs
// ============
// Barnacle
sk_barnacle_health		"65"

// Barney
sk_barney_health		"100"

// Bullseye
sk_bullseye_health		"100"

// Bullsquid
//sk_bullsquid_health	"120"
//sk_bullsquid_dmg_bite	"15"
//sk_bullsquid_dmg_whip	"25"

// Citizen
sk_citizen_health		"100"

// Combine Soldier
sk_combine_s_health		"130"
sk_combine_s_kick		"30"

// Combine Guard
sk_combine_guard_health	"160"
sk_combine_guard_kick	"50"

// strider
sk_strider_health		"350"
sk_strider_num_missiles1	"5"
sk_strider_num_missiles2	"7"
sk_strider_num_missiles3	"7"

// Headcrab
sk_headcrab_health		"50"
sk_headcrab_melee_dmg	"100"

// Fast Headcrab
sk_headcrab_fast_health	"40"

// Poison Headcrab
sk_headcrab_poison_health	"80"

// Houndeye
//sk_houndeye_health		"80"
//sk_houndeye_dmg_blast	"25"

// Manhack
sk_manhack_health		"55"
sk_manhack_melee_dmg	"50"

// Metropolice
sk_metropolice_health	"110"
sk_metropolice_stitch_reaction "0.2"
sk_metropolice_stitch_tight_hitcount "15"
sk_metropolice_stitch_at_hitcount "25"
sk_metropolice_stitch_behind_hitcount "20"
sk_metropolice_stitch_along_hitcount "18"
metropolice_chase_use_follow "1"

// Rollermine
sk_rollermine_shock		"20"
sk_rollermine_stun_delay "1"
sk_rollermine_vehicle_intercept "1"

// Scanner (City)
sk_scanner_health		"60"
sk_scanner_dmg_dive		"35"

// Stalker
sk_stalker_health		"90"
sk_stalker_melee_dmg	"45"

// Vortigaunt
sk_vortigaunt_health	"150"
sk_vortigaunt_dmg_claw	"20"
sk_vortigaunt_dmg_rake	"25"
sk_vortigaunt_dmg_zap	"70"
sk_vortigaunt_armor_charge "20"

// Zombie
sk_zombie_health	"110"
sk_zombie_dmg_one_slash	"30"
sk_zombie_dmg_both_slash	"65"

// Poison Zombie
sk_zombie_poison_health		"175"
sk_zombie_poison_dmg_spit	"30"

//Antlion
sk_antlion_health			"70"
sk_antlion_swipe_damage		"25"
sk_antlion_jump_damage		"45"

//Antlion Guard
sk_antlionguard_health		"500"
sk_antlionguard_dmg_charge	"70"
sk_antlionguard_dmg_shove	"40"

//Antlion Grub
//sk_antliongrub_health		"5"

//Ichthyosaur
sk_ichthyosaur_health		"200"
sk_ichthyosaur_melee_dmg	"40"

// Combine Gunship
sk_gunship_burst_size		"15"
sk_gunship_health_increments	"5"
sk_npc_dmg_gunship		"40"
sk_npc_dmg_gunship_to_plr	"8"

// Combine Helicopter
sk_npc_dmg_helicopter			"6"
sk_npc_dmg_helicopter_to_plr	"3"
sk_helicopter_grenadedamage		"30"
sk_helicopter_grenaderadius		"275"
sk_helicopter_grenadeforce		"55000"

// Combine Dropship
sk_npc_dmg_dropship		"2"

// Combine APC
sk_apc_health				"750"


// =================
//  WEAPONS
// =================

sk_plr_dmg_ar2			"25"
sk_npc_dmg_ar2			"14"
sk_max_ar2				"60"
sk_max_ar2_altfire		"3"

sk_plr_dmg_alyxgun		"18"
sk_npc_dmg_alyxgun		"14"
sk_max_alyxgun			"60"

sk_plr_dmg_pistol		"18"
sk_npc_dmg_pistol		"12"
sk_max_pistol			"50"

sk_plr_dmg_smg1			"22"
sk_npc_dmg_smg1			"16"
sk_max_smg1				"120"

sk_plr_dmg_buckshot			"12"
sk_npc_dmg_buckshot			"8"
sk_max_buckshot				"22"

sk_plr_dmg_rpg_round		"250"
sk_npc_dmg_rpg_round		"250"
sk_max_rpg_round			"5"

sk_plr_dmg_smg1_grenade		"150"
sk_npc_dmg_smg1_grenade		"150"
sk_max_smg1_grenade			"5"
sk_smg1_grenade_radius		"500"

//sk_plr_dmg_gauss			"25"
//sk_plr_max_dmg_gauss		"30"

sk_plr_dmg_sniper_round		"120"
sk_npc_dmg_sniper_round		"100"
sk_max_sniper_round			"30"

sk_plr_dmg_357				"80"
sk_npc_dmg_357				"60"
sk_max_357					"16"

sk_plr_dmg_crossbow			"70"
sk_npc_dmg_crossbow			"50"
sk_max_crossbow				"10"

sk_plr_dmg_airboat			"24"
sk_npc_dmg_airboat			"16"

sk_dmg_sniper_penetrate_plr	"150"
sk_dmg_sniper_penetrate_npc	"150"

sk_plr_dmg_grenade			"200"	
sk_npc_dmg_grenade			"200"
sk_max_grenade				"4"

sk_plr_dmg_crowbar			"20"
sk_npc_dmg_crowbar			"16"

sk_plr_dmg_pipe			"35"
sk_npc_dmg_pipe			"27"

sk_plr_dmg_stunstick		"60"
sk_npc_dmg_stunstick		"60"	// Kill a citizen in one hit

sk_plr_dmg_satchel			"250"
sk_npc_dmg_satchel			"250"
sk_satchel_radius			"300"

// Mortar Synth projectile
//sk_dmg_energy_grenade		"2"
//sk_energy_grenade_radius	"100"

sk_dmg_homer_grenade		"20"
sk_homer_grenade_radius		"100"

// Bullsquid spit
//sk_dmg_spit_grenade			"5"	
//sk_spit_grenade_radius		"50"

sk_plr_dmg_tripmine			"200"
sk_npc_dmg_tripmine			"200"
sk_tripmine_radius			"400"

sk_plr_dmg_fraggrenade 		"200"
sk_npc_dmg_fraggrenade		"200"
sk_fraggrenade_radius 		"500"

// HEALTH/SUIT CHARGE DISTRIBUTION
sk_suitcharger "75"
sk_suitcharger_citadel "500"
sk_suitcharger_citadel_maxarmor	"200"
sk_battery "15"
sk_healthcharger "50"
sk_healthkit "35"
sk_healthvial "15"

// Combine balls
sk_combineball_seek_angle	"15"
sk_combineball_guidefactor	"1.0"

// NPC damage adjusters
sk_npc_head		"3"
sk_npc_chest	"0.8"
sk_npc_stomach	"1.5"
sk_npc_arm		"0.6"
sk_npc_leg		"1.4"

// player damage adjusters
sk_player_head		"4"
sk_player_chest		"1.5"
sk_player_stomach	"2"
sk_player_arm		"0.7"
sk_player_leg		"1.3"

// Allies
sk_ally_regen_time	"0.6"

// Jeep
sk_max_gauss_round	"30"

sk_dmg_take_scale1 "0.8"
sk_dmg_take_scale2 "1.35"
sk_dmg_take_scale3 "1.85"


#=====================================================================
# STRIDER MINIGUN DAMAGE - Pull up a chair and I'll tell you a tale.
#
# When we shipped Half-Life 2 in 2004, we were unaware of a bug in
# CAmmoDef::NPCDamage() which was returning the MaxCarry field of
# an ammotype as the amount of damage that should be done to a NPC
# by that type of ammo. Thankfully, the bug only affected Ammo Types 
# that DO NOT use ConVars to specify their parameters. As you can see,
# all of the important ammotypes use ConVars, so the effect of the bug
# was limited. The Strider Minigun was affected, though.
#
# According to my perforce Archeology, we intended to ship the Strider
# Minigun ammo type to do 15 points of damage per shot, and we did. 
# To achieve this we, unaware of the bug, set the Strider Minigun ammo 
# type to have a maxcarry of 15, since our observation was that the 
# number that was there before (8) was indeed the amount of damage being
# done to NPC's at the time. So we changed the field that was incorrectly
# being used as the NPC Damage field.
#
# The bug was fixed during Episode 1's development. The result of the 
# bug fix was that the Strider was reduced to doing 5 points of damage
# to NPC's, since 5 is the value that was being assigned as NPC damage
# even though the code was returning 15 up to that point.
#
# Now as we go to ship Orange Box, we discover that the Striders in 
# Half-Life 2 are hugely ineffective against citizens, causing big
# problems in maps 12 and 13. 
#
# In order to restore balance to HL2 without upsetting the delicate 
# balance of ep2_outland_12, I have chosen to build Episodic binaries
# with 5 as the Strider->NPC damage, since that's the value that has
# been in place for all of Episode 2's development. Half-Life 2 will
# build with 15 as the Strider->NPC damage, which is how HL2 shipped
# originally, only this time the 15 is located in the correct field
# now that the AmmoDef code is behaving correctly.
#
#=====================================================================

sk_npc_dmg_strider_to_plr 15
sk_npc_dmg_strider 20
sk_max_strider 15